/* =========propins google fonts=============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ==============Oswold google fonts================= */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.8ms; 
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #000;
}
li{
    list-style: none;
}
body{
    font-size: 1em;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
}
.d-flex{
    display: flex;
}
.space{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.container{
    width: 90%;
    /* max-width: 900px; */
    margin: 0 auto;
}

:root{
    --p-b: 0 0 4em 0;
}

.text-box{
    text-align: center;
    padding: 4% 0;
}
.m-b{
    margin-bottom: 3em;
}
.p-b{
    padding-bottom: 2em;
}
/* =============manu-bar=========== */
.header{
    background-color: #000;
}
section.manu-top{
    padding: 2em;
    /* background-color: #000; */
}
.logo-title a{
    color: #fff;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: .4rem;
    font-weight: 800;
    padding: 5% 0;  
}
nav ul{
    list-style: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* padding: 2em; */
    padding: 5% 0;
}
nav ul li{
   margin-left: 4.8em;
}
nav ul li a{
   color:#fff;
   font-size: 1.3rem;
   font-weight: 600;
}
nav ul li a:hover{
    color:rgb(33, 236, 60);
   
}
.manu-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


@media (max-width:600px),(max-width:900px) {
    .manu-top{
        flex-direction: column;
    }
    
    .logo-title a{
        font-size: 1rem;
        text-align: center;
    }
    nav ul{
       flex-direction: column;
       display: block;
       width: 100%;
       /* background-color: red; */
   }
   nav ul li{
      margin-bottom: 1em;
  }

}

/* ========header-bottom======== */

.header-bottom{
    padding: var(--p-b);
}
.bottom-left {
    clear: both;
    color: #fff;
    line-height: 30px;
    flex-basis: 55%;
    padding-top: 3em;
    position: relative;
    /* border-radius: 10px; */
}
.bottom-right {
    flex-basis: 35%;
}
.home-image img{
    width: 100%;
}

.bottom-left h4 {
    color: red;
    font-size: 1.7rem;
    padding-bottom: -3.6em;
}
.bottom-left {
    padding: 2%;
    z-index: 1;
}

.bottom-left h1 {
    color: chartreuse;
    font-size: 2.5rem;
    padding: 6% 0;
}
.bottom-left::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    top: 0;
    left: 0;
    opacity: 0.4;
    box-shadow: 10px 10px 40px red;
    padding: 0;
    /* border-radius: 5px; */
    /* margin: 2em; */
    /* clip-path: polygon(0% 15%, 9% 9%, 15% 0%, 85% 0%, 90% 9%, 100% 15%, 100% 85%, 91% 91%, 85% 100%, 15% 100%, 10% 89%, 0% 85%); */
}

@media (max-width:600px),(max-width:900px) {
    .bottom-left h4{
        font-size: .6rem;
    }
    .bottom-left h1{
        font-size: .9rem;
    }
    .bottom-left p{
        font-size: .5rem;
        padding: 0;
        margin: 0;
    }
    .bottom-left .fill-btn-box{
        font-size: .5rem;
        padding: 5px 20px;
        margin-top: 5em;
    }

}

/* =============look-area============ */
.look-title-box.text-box h1 {
    font-size: 3rem;
}
.single-box {
    flex-basis: 30%;
    padding: 2em 0;
}
.single-box img{
    width: 20%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    margin-bottom: 1em;
}
.single-box p{
    text-align: justify;
    margin-bottom: 1em;
}
.single-box {
    margin-top: 3em;
    transition: .5s;
    padding: 1.5em;
    border: 1.5px solid red;
    border-radius: 7px;
    box-shadow: 8px 8px 15px red;
}
.single-box:hover {
    margin-top: 1em;
    transition: .5s;
}

.more-links {
    display: block;
    justify-content: flex-end;
    margin: 0 auto;
    text-align: center;
    color: blue;
}

.more-links a{
    color: blue;
}

.more-links a:hover,.more-links a:focus{
    border-bottom: 1px solid blue;
    color: blueviolet;
    /* margin: 0 auto; */
}

@media (max-width:600px),(max-width:900px) {
    .look-box-items{
        display: block;
        flex-direction: column;
    }
    .single-box p{
        font-size: .7rem;
    }
    .single-box img{
        width: 50px;
    }
}

/* ===============About-area================= */
.about-area{
    background-color: #000;
    color: #fff;

}
.about-items-left{
    padding: 2em 0;
    border-top: 1px solid red;
}
.about-items-left{
    flex-basis: 45%;
    
}
.about-items-right{
    flex-basis: 50%;
    border-top: 1px solid gray;
}
.about-img {
    display: flex;
    overflow:initial;
    margin-top: 2em;
}
.about-img img {
    margin-left: 2em;
    transform: skewY(-15deg);
    transition: .8s;
    width: 70%;
    height: 50vh;
    box-shadow: 8px 8px 10px red;
}
.about-img img:hover {
    margin-left: 2em; 
    transform: skewY(15deg); 
}
.about-items-right h1 {
    font-size: 3rem;
    line-height: 4rem;
    padding-bottom: .5em;
}

.about-items-right h3 {
    font-size: 1.2rem;
    text-align: justify;
    padding-bottom: .5em;
}

.about-items-right ul li a {
    color: #fff;
}

.about-items-right ul li {
    list-style: cjk-earthly-branch;
    /* list-style-type: decimal; */
}

.about-items-right ul {
    margin-left: 2em;
    /* padding: 0; */
}
a.fill-btn-box {
    color: #fff;
    display: inline-block;
    background: red;
    padding: .8em 1.5em;
    border: 2px solid red;
    border-radius: 10px;
    margin: 1.5em 0;
    font-size: 1.5rem;
    /* position:absulate; */
    font-weight: 600;
    transition: .8s;
    position: absolute;
}
a.fill-btn-box:hover {
    color: #fff;
    display: inline-block;
    background: red;
    padding: .8em 1.5em;
    border: 2px solid red;
    border-radius: 10px;
    margin: 1.5em 0;
    font-size: 1.5rem;
    transition: 3s;
    opacity: 1;
    font-weight: 600;
    border-radius: 50px;
    opacity: 0.6;
}



@media (max-width:600px),(max-width:900px) {
    .about-items{
        display: block;
        flex-direction: column;
    }
    .about-items-left{
        margin-bottom: 3em;
    }
    .about-items-left img{
        width: 40%;
    }
    .about-items-right h1{
        font-size: 2.5rem;
    }
    .about-items-right h3{
        font-size: 1rem;
    }
    .about-items-right {
        padding-bottom: 10em;
    }
    .about-items-right h1{
        font-size: 1.5rem;
        line-height: 30px;
    }
}



/* ============working-chat-area================= */
 .working-chat{
    background-image: url(images/shape/Group_33094_1.png);
    width: 50%;
    height: 200px ;
    border-radius: 20%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: -100%;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 1.5rem;
    box-shadow: 14px 15px 15px #8f90d4;
 }
 .working-chat a {
    color: #000;
    font-weight: 600;
    font-size: 1.3rem;
    background: #fff;
    padding: 1em 2em;
    border-radius: 50px;
    transition: 0.3s;
}

.working-chat a:hover {
    background: blue;
    color: #fff;
}




@media (max-width:600px),(max-width:900px) {
    .working-chat{
        display: block;
        flex-direction: column;
        background-image: none;
        color: #000;
        align-items: center;
        justify-content: center;
    }
    .working-chat h1{
        font-size: 1rem;
        padding-top: 3em;
    }
    .working-chat a{
        padding: 0;
        margin-top: 2em;
    }
}

/* ==============Service area==================== */
.service-title h4 {
    color: red;
    font-size: 1rem;
    margin-bottom: .5em;
}
.single-service{
    flex-basis: 30%;
    
    box-shadow: 8px 8px 16px rgb(17, 16, 16);
    border-radius: 10px;
    border-top: 3px solid red;
}
.single-service  img{
    width: 100%;
    border-radius: 10px;
}

.service-title {
    padding: 1em;
}

.service-title h2 {
    font-size: 1.5rem;
    margin-bottom: .3em;
}

.service-title p {
    margin-bottom: 1.5em;
}

footer.service_footer {font-size: 1.5rem;font-weight: 700;align-items: center;}

.joining p, fa {
    display: flex;
    align-items: center;
}
.joining {
    display: flex;
    /* justify-content: flex-e */
    align-items: center;
}
.fas{
    font-size: 2rem;
    color: red;
}
 .joining .fas {
    color: red;
    font-size: 1.5rem;
}
.service-img img{
    transition: .8s;
    transform: scale(90%);
}
.service-img img:hover{
    transform: scale(100%);
    cursor: pointer;
}
.single-servie-position{
    position: relative;
    z-index: 1;
}
.single-servie-position::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 100px;
    background: url(images/batch.png) transparent;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: 2;
}


@media (max-width:600px),(max-width:900px) {
    .service-items-box{
        display: block;
        flex-direction: column;
        width: 100%;
    } 
    .single-service{
        margin: 2em;
    }
}



/* ==============footer================ */



ul.footer-text-box {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: -3em;
}

ul.d-flex.footer-text-box li {
    border-radius: 8px;
    margin-left: 3em;
    padding: 1em 1.5em;
    text-align: center;
    background: #fb0e0e;
    /* display: inline; */
    cursor: pointer;
}

ul.d-flex.footer-text-box li a {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    transition: .7s;
}

footer.footer {
    background: #000;
    padding: 3em 0;
}

ul.d-flex.footer-text-box li a:hover {
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

footer.footer p {
    color: #fff;
    text-align: center;
    padding: .1em 0;
    font-size: 1.3rem;
    font-weight: 600;
}

footer.footer .text-box {
    padding: 2em;
    margin: 0;
}


@media (max-width:600px),(max-width:900px) {
    ul.d-flex.footer-text-box li {
        border-radius: 8px;
        margin-left: 7px;
        padding: 10px 1.5em;
        text-align: center;
        /* background: #fff; */
        /* display: inline; */
        cursor: pointer;
    }
    ul.d-flex.footer-text-box li a:hover {
        color: rgb(40, 18, 238);
        font-size: 1rem;
        cursor: pointer;
    }
}
